# Creating Book Databases

In [7]:
import datetime

## Databases of books that contains | dictionary 
1) **book name**
2) **book id**
3) **Quantity**
4) **Genre**
5) **Price**
6) **Author**

In [81]:
print(datetime.date.today())

2022-12-22

AttributeError: module 'datetime' has no attribute 'now'

In [45]:
# books database 
book_db = {123456:
           {
               'book_name' : 'atomic habits ',
               'Quantity'  : 10,
               'Genre'     : 'self-help book',
               'Price'     : 434,
               'Author'    : 'James Clear'
           }
          }

In [43]:
# students database 
student_db = {19131001:
              {
                  'student_name'   : 'Rahul Wadwani',
                  'grad_year'      : '2023',
                  'grad_degree'    : 'Bachelors in technology' 
                  'books_issued'   : [123455,123456,123445]
                  'issue_date'     : datetime.date.today()
                  'expiry_date'    : 
                   
               }
             }

# Adding more students to Students database

In [50]:
student_id = input('Enter your Student Id : ')
stud_name = input('Enter your Name : ')
grad_year = input('Enter your Graduation Year : ')
grad_degree = input('Enter your Graduation Degree : ')
dct = {}
dct['student_name'] = stud_name 
dct['grad_year'] = grad_year 
dct['grad_degree'] = grad_degree 
student_db[student_id ] = dct

Enter your Student Id : 19131003
Enter your Name : Ramesh
Enter your Graduation Year : 2023
Enter your Graduation Degree : Bachelors in commerce

# Adding more Books to book database

In [52]:
book_id = input('Enter book id : ')
book_name = input('Enter Book Name : ')
Quantity = input('Enter the quantity of the books present : ')
Genre = input('Enter the Genre of the book : ')
Price = input('Enter the price of the book : ')
Author = input('Enter the name of the Author : ')
dct1 = {} 
dct1['book_name'] = book_name
dct1['Quantity'] = Quantity
dct1['Genre'] = Genre
dct1['Price'] = Price
dct1['Author'] = Author

book_db[book_id] = dct1

Enter book id : 123455
Enter Book Name : Microwave Engineering
Enter the quantity of the books present : 15
Enter the Genre of the book : Engineering
Enter the price of the book : 1000
Enter the name of the Author : Samuel liao

In [58]:
lis = [] 
for a in range(0,3):
    a = input('Enter book id / name ')
    lis.append(a)
dct = {'purchase': lis}

Enter book id / name 123456
Enter book id / name 123455
Enter book id / name 123454

In [59]:
dct

{'purchase': ['123456', '123455', '123454']}