In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Baseball_data.csv')

In [4]:
df.head()

             name handedness  height  weight    avg   HR
0       Tom Brown          R      73     170  0.000    0
1  Denny Lemaster          R      73     182  0.130    4
2       Joe Nolan          L      71     175  0.263   27
3     Denny Doyle          L      69     175  0.250   16
4   Jose Cardenal          R      70     150  0.275  138

In [5]:
df.isnull().sum()

name          0
handedness    0
height        0
weight        0
avg           0
HR            0
dtype: int64

# Who are the Top 5 players having height more than average?

# Name 2 players having least weight and must be left handed?