In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sales.csv')

In [3]:
df.head()

,order_id,product,quantity,price,date,address,month
0,236670,Wired Headphones,2,11.99,08/31/19 22:21,"359 Spruce St, Seattle, WA 98101",August
1,236671,Bose SoundSport Headphones,1,99.99,08/15/19 15:11,"492 Ridge St, Dallas, TX 75001",August
2,236672,iPhone,1,700.0,08/06/19 14:40,"149 7th St, Portland, OR 97035",August
3,236673,AA Batteries (4-pack),2,3.84,08/29/19 20:59,"631 2nd St, Los Angeles, CA 90001",August
4,236674,AA Batteries (4-pack),2,3.84,08/15/19 19:53,"736 14th St, New York City, NY 10001",August

# Deal with Null values

In [4]:
df.isnull().sum()

order_id    0
product     0
quantity    0
price       0
date        0
address     0
month       0
dtype: int64

 # Find the number of unique orders placed so far

# How many unique products we're having as per the dataset?

# Name the most expensive product on the line

# From which address does the most number of orders are placed?

# Plot number of orders in each month in line graph